body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 

}

.container {
  height: 35rem;
  width: 22rem;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  
}

.main-content {
  margin-top: 4rem;
  padding: 1rem;
}

.main-image {
  position: relative;
  width: 20rem;
  border-radius:  10px;
  margin-bottom: 1rem;
}

.content-image {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.paragraph {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  
}

.title {
  color: hsl(218, 44%, 22%);
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.content-text {
  margin-top: 1.5rem;
}